.metadata/
.project
ProgrammingElements/.settings/
ProgrammingElements/.classpath
ProgrammingElements/.project


ProgrammingElements/bin/
ProgrammingElements//*.class

ControlFlows/.settings/
ControlFlows/.classpath
ControlFlows/.project


ControlFlows/bin/
ControlFlows//*.class