.metadata/
.project
.classpath
ProgrammingElements/.settings/
ProgrammingElements/.classpath
ProgrammingElements/.project


ProgrammingElements/bin/
ProgrammingElements//*.class

# Ignore Eclipse settings and build files in all subdirectories
**/.settings/
**/.classpath
**/.project
**/bin/
**/*.class